.card {
    position: relative;
    height: 340px;
    width: 340px;
    border-radius: 10px;
    transition: 0.3s;
    margin: 50px auto 0;
    overflow: hidden;
    
    &:hover {
        transform: scale(1.2);
    }

    
    h3 {
      font-size: 1rem;
      padding: 20px 30% 20px 20px;
      position: absolute;
      display: flex;
      align-items: center;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.4);
      color: $color-2;
      height: 70px;
      width: 100%;
      transition: 0.3s;
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  