.gallery {
    box-sizing: border-box;
    width: 100%;
}

.gallery-container {
    height: 80vh;
    position: relative;
    border-radius: 25px;
    height: 415px;
    overflow: hidden;

    @media screen and (max-width: $small) {
        height: 255px;
    }
    .img-logement {
        object-fit: cover;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity .5s;

    }
    .active {
        opacity: 1;
    }
}

.indexImg {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25px;
    color: $color-2;
}

.next-btn, .prev-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 48px;
    height: 80px;
    
    @media screen and (max-width: $small) {
        width: 11.5px;
        height: 20px;
    }
}

.next-btn {
    right: 1rem;
}

.prev-btn {
    left: 1rem;
}