.about {
    color: $color-1;
    
    .presentation-pic {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(../../assets/img/About.jpg) center/cover;
        @media screen and (max-width: $small) {
            height: 223px;
            border-radius: 10px;
        }
        h1 {
            visibility: hidden;
        }
    }

    .box {
        width: 95%;
    }
}